@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.ss-links a {
  background: #1a9dd0;
  padding: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.ss-datetime {
  font-family: "Roboto", sans-serif;
}

.ss-countdown {
  display: flex;
}

.ss-countdown__label {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
}

.ss-countdown__days-container,
.ss-countdown__hours-container,
.ss-countdown__minutes-container,
.ss-countdown__seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ss-countdown__days,
.ss-countdown__hours,
.ss-countdown__minutes,
.ss-countdown__seconds {
  margin-bottom: 0.225rem;
  background: #1a9dd0;
  padding: 1rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.ss-countdown__days,
.ss-countdown__hours,
.ss-countdown__minutes {
  margin-right: 0.25rem;
}

.ss-countdown__hours,
.ss-countdown__minutes,
.ss-countdown__seconds {
  margin-left: 0.25rem;
}

.ss-calendar__container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.ss-calendar__container-left {
  width: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid #1a9dd0;
  margin-right: 1rem;
}

.ss-calendar__container-right {
  display: flex;
  flex-direction: column;
  width: 190px;
}

.ss-calendar__date {
  background: #1a9dd0;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.725rem;
}

.ss-calendar__day {
  padding: 0.725rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
}

.ss-calendar__weekday-month {
  font-weight: bold;
  margin-bottom: 0.275rem;
}

/* Add this event override */

.addeventatc {
  font-size: 12px !important;
  padding: 12.5px 12px 12px 33px !important;
}

.addeventatc .addeventatc_icon {
  left: 12px !important;
  top: 12px !important;
  background-size: 12px 12px !important;
}
